.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content{
    padding: 20px;
    background-color: white;
    transform: scale(0.5);
    width: 40%;
    transition: .5s all;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.modal__content.active{
    transform: scale(1);
}

@media screen and (max-width:1024px) {
    .modal__content{
        width:50%;
    }
}

@media screen and (max-width:768px) {
    .modal__content{
        width:60%;
    }
}

@media screen and (max-width:480px) {
    .modal__content{
        width:80%;
    }
}